* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f6fa;
  color: #222;
  transition: all 0.3s, color 0.3s;
}

body.dark {
  background: #1e1e2f;
  color: #f1f1f1;
}

.Page {
  display: flex;
}

.aside {
  flex: 0.16;
}

.main {
  flex: 0.84;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: normal;
}