.navbar-menu-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.navbar-menu-2 .box-1 {
    display: flex;
    align-items: center;
    flex: 0.5;
}

.navbar-menu-2 .toggle-button {
    margin-left: 25px;
    margin-right: 20px;
    display: flex;
}

/* Светлая тема (по умолчанию) */
.navbar-menu-2 .box-1 .search {
    width: 27vw;
    height: 38px;
    padding: 0 15px;
    border: rgba(213, 213, 213, 1) solid 1px;
    background-color: rgba(245, 246, 250, 1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.navbar-menu-2 .box-1 .search input {
    width: 100%;
    outline: none;
    border: none;
    color: rgb(60, 60, 60);
    font-size: 14px;
    background-color: rgba(245, 246, 250, 1);
    font-family: 'Nunito Sans';
    font-weight: 300;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Тёмная тема */
body.dark .navbar-menu-2 .box-1 .search {
    border: rgba(207, 207, 207, 0.1142) solid 1px;
    background-color: rgba(50, 61, 78, 1);
    /* тёмно-серый фон */
}

body.dark .navbar-menu-2 .box-1 .search input {
    color: #e0e0e0;
    background-color: transparent;
}

.navbar-menu-2 .box-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0.5;
}

.message-button {
    display: flex;
    margin-left: 20px;
    margin-right: 25px;
}

.message-button img {
    width: 24px;
    height: 25.5px;
}

.language-button-box {
    margin-right: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.language-button {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 13.5px;
    color: rgba(100, 100, 100, 1);
}

.language-button-box img {
    width: 36px;
    height: 23px;
}

.profile-button-box {
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
    gap: 15px;
}

.profile-button-box img {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: transparent;
    transition: 0.3s ease;
}

.theme-switch {
    width: 55px;
    height: 26px;
    background-color: #004DA4;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;
    transition: 0.4s ease;
}

.switch-circle {
    width: 20px;
    height: 20px;
    background-color: #4074F3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #FFD700;
    position: absolute;
    left: 3px;
    transition: all 0.4s ease;
}

/* Положение кружка в темной теме */
.theme-switch.dark .switch-circle {
    left: 32px;
    /* сдвигаем вправо */
    color: #FFD700;
    /* тёмно-синий для солнца */
}

body.dark .switch-circle svg {
    color: #FFD700 !important;
}

/* В тёмной теме добавить светлый фон */
body.dark .profile-button-box img {
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-button {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-button .text {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans';
}

.profile-button .dropdown-icon {
    font-size: 26px;
    padding: 8px;
    border: 0.2px solid rgba(92, 92, 92, 1);
    border-radius: 100%;
}

.burger-icon {
    font-size: 14px;
    color: rgba(32, 34, 36, 1);
    /* Светлая тема */
    cursor: pointer;
    transition: color 0.3s ease;
}

body.dark .burger-icon {
    color: #cecece;
    /* Темная тема */
}

.search-icon {
    font-size: 16px;
    color: rgba(32, 34, 36, 1);
    /* Светлая тема */
    transition: color 0.3s ease;
}

body.dark .search-icon {
    color: #cecece;
    /* Темная тема */
}

.message-icon {
    font-size: 20px;
    color: #222;
    /* светлая тема */
    transition: color 0.3s ease;
}

.dropdown-icon {
    font-size: 10px;
    color: #222;
    /* светлая тема */
    transition: color 0.3s ease;
}

body.dark .message-icon,
body.dark .dropdown-icon {
    color: #ececec;
    /* тёмная тема */
}

.language-text {
    color: #222;
    /* светлая тема */
    transition: color 0.3s ease;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 14px;
}

body.dark .language-text {
    color: white;
    /* тёмная тема */
}

.profile-name {
    font-size: 13px;
    font-weight: 700;
    color: #222;
    /* Светлая тема */
    transition: color 0.3s ease;
}

.profile-role {
    font-size: 12px;
    font-weight: 600;
    color: #555;
    /* Светлая тема */
    transition: color 0.3s ease;
}

/* Тёмная тема */
body.dark .profile-name {
    color: rgba(255, 255, 255, 0.9);
}

body.dark .profile-role {
    color: rgba(239, 239, 239, 0.8);
}


@media (max-width: 1280px) {
    .navbar-menu-2 .box-1 .search {
        width: 27vw;
        height: 34px;
        padding: 0 15px;
    }

    .navbar-menu-2 .box-1 .search input {
        font-size: 13px;
    }

    .search-icon {
        font-size: 14px;
    }

    .theme-switch {
        width: 45px;
        height: 23px;
    }

    .switch-circle {
        width: 18px;
        height: 18px;
        font-size: 13px;
    }

    /* Положение кружка в темной теме */
    .theme-switch.dark .switch-circle {
        left: 24px;
    }

    .message-button {
        margin-left: 15px;
        margin-right: 20px;
    }

    .message-icon {
        font-size: 18px;
    }

    .dropdown-icon {
        font-size: 8px;
    }

    .language-button-box {
        margin-right: 20px;
    }

    .language-button-box img {
        width: 32px;
        height: 20px;
    }

    .language-text {
        font-weight: 500;
        font-size: 12px;
    }

    .profile-button-box img {
        width: 32px;
        height: 32px;
    }

    .profile-name {
        font-size: 12px;
        font-weight: 700;
    }

    .profile-role {
        font-size: 11px;
        font-weight: 600;
    }

    .profile-button {
        gap: 10px;
    }

    .profile-button .dropdown-icon {
        font-size: 20px;
        padding: 6px;
        border: 0.2px solid rgba(92, 92, 92, 1);
        border-radius: 100%;
    }
}


@media (max-width: 1024px) {
    .burger-icon {
        font-size: 13px;
    }

    .navbar-menu-2 .box-1 .search {
        width: 60%;
        height: 34px;
        padding: 0 15px;
    }

    .navbar-menu-2 .box-1 .search input {
        font-size: 12px;
    }

    .search-icon {
        font-size: 17px;
    }

    .theme-switch {
        width: 43px;
        height: 21px;
    }

    .switch-circle {
        width: 16px;
        height: 16px;
        font-size: 12px;
    }

    /* Положение кружка в темной теме */
    .theme-switch.dark .switch-circle {
        left: 24px;
    }

    .message-button {
        margin-left: 15px;
        margin-right: 20px;
    }

    .message-icon {
        font-size: 16px;
    }

    .dropdown-icon {
        font-size: 6.5px;
    }

    .language-button-box {
        margin-right: 20px;
    }

    .language-button-box img {
        width: 23px;
        height: 15px;
    }

    .language-button {
        gap: 5px;
    }

    .language-text {
        font-weight: 500;
        font-size: 12px;
    }

    .profile-button-box img {
        width: 28px;
        height: 28px;
    }

    .profile-name {
        font-size: 11px;
        font-weight: 700;
    }

    .profile-role {
        font-size: 10px;
        font-weight: 600;
    }
}


@media (min-width: 480px) and (max-width: 768px) {
    .toggle-button {
        margin-left: 20px !important;
        margin-right: 15px !important;
    }

    .navbar-menu-2 .box-1 {
        flex: 0.4;
    }

    .navbar-menu-2 .box-2 {
        flex: 0.6;
    }

    .navbar-menu-2 {
        height: 60px;
    }

    .burger-icon {
        font-size: 12px;
    }

    .navbar-menu-2 .box-1 .search {
        width: 70%;
        height: 32px;
        padding: 0 15px;
    }

    .navbar-menu-2 .box-1 .search input {
        font-size: 13px;
    }

    .search-icon {
        font-size: 16px;
    }

    .theme-switch {
        flex-direction: column;
        width: 17px;
        height: 25px;
    }

    .switch-circle {
        width: 13px;
        height: 13px;
        font-size: 8px;
        top: 2px;
        left: auto;
    }

    .theme-switch.dark .switch-circle {
        top: 10px;
        left: auto;
    }

    .message-button {
        margin-left: 10px;
        margin-right: 15px;
    }

    .message-icon {
        font-size: 15px;
    }

    .dropdown-icon {
        font-size: 7px;
    }

    .language-button-box {
        margin-right: 15px;
        gap: 10px;
    }

    .language-button-box img {
        width: 23px;
        height: 15px;
    }

    .language-text {
        font-weight: 500;
        font-size: 10px;
    }

    .profile-button {
        gap: 10px;
    }

    .profile-button-box {
        gap: 10px;
    }

    .profile-button-box img {
        width: 26px;
        height: 26px;
    }

    .profile-name {
        font-size: 10px;
        font-weight: 700;
    }

    .profile-role {
        font-size: 8px;
        font-weight: 600;
    }

    .profile-button {
        gap: 10px;
    }

    .profile-button .dropdown-icon {
        font-size: 17px;
        padding: 5px;
        border: 0.2px solid rgba(92, 92, 92, 1);
        border-radius: 100%;
    }
}

@media (max-width: 479px) {
    .toggle-button {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .navbar-menu-2 .box-1 {
        flex: 0.35;
    }

    .navbar-menu-2 .box-2 {
        flex: 0.65;
    }

    .navbar-menu-2 {
        height: 60px;
    }

    .burger-icon {
        font-size: 11px;
    }

    .navbar-menu-2 .box-1 .search {
        width: 70%;
        height: 30px;
        padding: 0 15px;
    }

    .navbar-menu-2 .box-1 .search input {
        font-size: 13px;
    }

    .search-icon {
        font-size: 16px;
    }

    .theme-switch {
        flex-direction: column;
        width: 17px;
        height: 25px;
    }

    .switch-circle {
        width: 13px;
        height: 13px;
        font-size: 8px;
        top: 2px;
        left: auto;
    }

    .theme-switch.dark .switch-circle {
        top: 10px;
        left: auto;
    }

    .message-button {
        margin: 0;
        padding: 0 10px 0 20px !important; 
    }

    .message-icon {
        font-size: 15px;
    }

    .dropdown-icon {
        font-size: 7px;
    }

    .language-button-box {
        margin-right: 10px;
        gap: 7px;
    }

    .language-button-box img {
        width: 23px;
        height: 15px;
    }

    .language-text {
        display: none;
        font-weight: 500;
        font-size: 10px;
    }

    .profile-button {
        gap: 10px;
    }

    .profile-button-box{
        gap: 0;
        padding: 0 5px 0 0;
    }

    .profile-button-box {
        gap: 7px;
    }

    .profile-button-box img {
        width: 26px;
        height: 26px;
    }

    .profile-button .text{
        display: none;
    }

    .profile-name {
        font-size: 10px;
        font-weight: 700;
    }

    .profile-role {
        font-size: 8px;
        font-weight: 600;
    }

    .profile-button {
        gap: 0;
    }

    .profile-button .dropdown-icon {
        display: none;
        font-size: 17px;
        padding: 5px;
        border: 0.2px solid rgba(92, 92, 92, 1);
        border-radius: 100%;
    }
}