.navbar-menu-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.navbar-menu-2 .box-1 {
    display: flex;
    align-items: center;
}

.navbar-menu-2 .toggle-button {
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
}

.navbar-menu-2 .box-1 .toggle-button img {
    width: 20px;
}

/* Светлая тема (по умолчанию) */
.navbar-menu-2 .box-1 .search {
    width: 27vw;
    height: 38px;
    padding: 0 15px;
    border: rgba(213, 213, 213, 1) solid 1px;
    background-color: rgba(245, 246, 250, 1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.navbar-menu-2 .box-1 .search input {
    outline: none;
    border: none;
    color: rgb(60, 60, 60);
    font-size: 14px;
    background-color: rgba(245, 246, 250, 1);
    font-family: 'Nunito Sans';
    font-weight: 300;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Тёмная тема */
body.dark .navbar-menu-2 .box-1 .search {
    border: rgba(207, 207, 207, 0.1142) solid 1px;
    background-color: rgba(50, 61, 78, 1);
    /* тёмно-серый фон */
}

body.dark .navbar-menu-2 .box-1 .search input {
    color: #e0e0e0;
    background-color: transparent;
}


.navbar-menu-2 .box-2 {
    display: flex;
    align-items: center;
}

.message-button {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}

.message-button img {
    width: 24px;
    height: 25.5px;
}

.language-button-box {
    margin-right: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.language-button {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 13.5px;
    color: rgba(100, 100, 100, 1);
}

.language-button-box img {
    width: 40px;
    height: 27px;
}

.language-button-box .dropdown-img {
    width: 8px;
    height: 4.5px;
    position: relative;
    top: 3px;
}

.profile-button-box {
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
    gap: 15px;
}

.profile-button-box img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.profile-button-box .dropdown-img {
    width: 23px;
    height: 23px;
}

.profile-button {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-button .text {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans';
}

.profile-button .text h4 {
    font-size: 13px;
    font-weight: 700;
    color: rgba(64, 64, 64, 1);
}

.profile-button .text p {
    font-size: 12px;
    font-weight: 600;
    color: rgba(86, 86, 86, 1);
}

.burger-icon {
    font-size: 17px;
    color: #222;
    /* Светлая тема */
    cursor: pointer;
    transition: color 0.3s ease;
}

body.dark .burger-icon {
    color: white;
    /* Темная тема */
}

.search-icon {
    font-size: 16px;
    color: #222;
    /* Светлая тема */
    transition: color 0.3s ease;
}

body.dark .search-icon {
    color: rgb(229, 229, 229);
    /* Темная тема */
}