.main {
    flex: 1;
    height: 100vh;
    overflow: hidden;
}

.main .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.main-content {
    flex: 1;
    overflow-y: auto;
}