.calendar-section {
    background-color: #F2F2F2;
    padding: 30px 25px;
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans';
}

body.dark .calendar-section {
    background-color: rgba(27, 36, 49, 1);
}

.calendar-section .title-box h3 {
    font-family: 'Nunito Sans';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: rgba(32, 34, 36, 1);
}

body.dark .calendar-section .title-box h3 {
    color: white;
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fc-toolbar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.fc-event {
    border-radius: 6px;
    padding: 2px 4px;
    font-size: 0.9rem;
}

.calendar-wrapper {
    display: flex;
    gap: 20px;
}

.calendar-sidebar {
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    font-family: 'Nunito Sans', sans-serif;
}

.add-event-btn {
    background: #4e73df;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 25px;
    transition: all 0.2s ease;
}

.add-event-btn:hover {
    background: #3c5ec4;
}

.sidebar-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

.event-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.event-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.event-icon {
    flex-shrink: 0;
}

.event-main-avatar,
.placeholder-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ddd;
    object-fit: cover;
}

.event-info {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.event-title {
    font-size: 0.95rem;
    font-weight: 700;
    color: #222;
}

.event-time {
    font-size: 0.8rem;
    color: #777;
}

.event-location {
    font-size: 0.8rem;
    color: #555;
    margin-bottom: 8px;
}

.event-avatars {
    display: flex;
    align-items: center;
    gap: 4px;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
    margin-left: -6px;
}

.participants {
    margin-left: 6px;
    font-size: 0.8rem;
    color: #4e73df;
    border: 1px solid #4e73df;
    border-radius: 50%;
    padding: 2px 6px;
    font-weight: 600;
}

.see-more-btn {
    margin-top: 20px;
    background: #f5f6fa;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.see-more-btn:hover {
    background: #e6e8ef;
}