body.dark .dashboard-section {
    background-color: rgba(27, 36, 49, 1);
}

.dashboard-section .title-box h3 {
    font-family: 'Nunito Sans';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: rgba(32, 34, 36, 1);
}

body.dark .dashboard-section .title-box h3 {
    color: rgb(246, 246, 246);
}

.total-objects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.total-objects .card {
    width: 100%;
    height: 160px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Nunito Sans';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.dark .total-objects .card {
    background-color: rgba(39, 49, 66, 1);
}

.total-objects .card .upper-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.total-objects .card .upper-card img {
    width: 60px;
}

.total-objects .card .upper-card .text-box h4 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(60, 60, 60);
}

body.dark .card .upper-card .text-box h4 {
    color: #BDC0C5;
}

.total-objects .card .upper-card .text-box h2 {
    padding-top: 15px;
    font-size: 27px;
    font-weight: 700;
    color: rgb(60, 60, 60);
}

body.dark .card .upper-card .text-box h2 {
    color: rgba(255, 255, 255, 1);
}

.total-objects .card .down-card {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.group-one {
    display: flex;
    align-items: center;
    gap: 5px;
}

.total-objects .card .down-card img {
    width: 25px;
}

.total-objects .card .down-card span {
    color: rgba(0, 182, 155, 1);
    font-weight: 600;
}

.total-objects .card .down-card p {
    color: rgb(60, 60, 60);
    font-weight: 400;
}

body.dark .total-objects .card .down-card p {
    color: rgba(255, 255, 255, 1);
}

.chart-container {
    font-family: 'Nunito Sans';
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
    height: 440px;
    background-color: white;
    border-radius: 15px;
}

body.dark .chart-container {
    background-color: rgba(39, 49, 66, 1);
}

.recharts-responsive-container {
    padding: 0 20px 30px 20px;
}

.sales-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.sales-header h3 {
    font-size: 24px;
    font-weight: 600;
    color: rgba(32, 34, 36, 1);
    padding-left: 20px;
}

body.dark .sales-header h3 {
    color: rgba(255, 255, 255, 1);
}

.select-wrapper {
    position: relative;
    width: fit-content;
}

.select-button {
    margin-right: 24px;
    font-family: 'Nunito Sans';
    color: rgba(43, 48, 52, 0.4);
    padding: 6px 20px 6px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
    appearance: none;
}

body.dark .select-button {
    background-color: rgba(50, 61, 78, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(207, 207, 207, 0.1142);
}

.select-arrow {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    color: #666;
    pointer-events: none;
    transition: color 0.3s ease;
}

body.dark .select-arrow {
    color: #E9EAEC;
}

.deals-container {
    background: white;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
    font-family: 'Nunito Sans';
}

body.dark .deals-container {
    background-color: rgba(39, 49, 66, 1);
}

.deals-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.deals-header h3 {
    font-size: 24px;
    font-weight: 600;
}

body.dark .deals-header h3 {
    color: white;
}

.deals-container .select-button {
    margin: 0;
}

.deals-container .select-arrow {
    right: 17px;
}

.deals-table {
    width: 100%;
    border-collapse: collapse;
}

.deals-table thead {
    background-color: #f5f8fc;
}

body.dark .deals-table thead {
    background-color: rgba(50, 61, 78, 1);
    color: rgba(255, 255, 255, 1);
}

.deals-table thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.deals-table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

body.dark .deals-table th {
    border-bottom: none !important;
}

.deals-table th,
.deals-table td {
    padding: 16px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.deals-container tbody tr {
    border-top: none;
    border-bottom: 0.4px solid #b4b4b4;
}

body.dark .deals-container tbody tr {
    border-bottom: 0.4px solid rgba(151, 151, 151, 1)
}

.deals-table thead th {
    border-bottom: none;
}

.deals-table td {
    font-weight: 350;
    color: rgb(60, 60, 60);
}

body.dark .deals-table td {
    color: #CFD2D5;
}

.product-cell {
    display: flex;
    align-items: center;
    gap: 12px;
}

.product-cell img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.status {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.status.delivered {
    background-color: #00b894;
}

@media (max-width: 1440px) {
    .total-objects .card .upper-card .text-box h4 {
        font-size: 14px;
    }

    .total-objects .card .upper-card .text-box h2 {
        font-size: 25px;
    }

    .total-objects .card .down-card {
        font-size: 15px;
    }

    @media(max-width:1330px) {
        .total-objects .card .down-card {
            font-size: 13.5px;
        }
    }
}

@media (max-width: 1280px) {

    .dashboard-section .title-box h3 {
        font-size: 25px;
    }

    .sales-header h3 {
        font-size: 20px;
    }

    .deals-header h3 {
        font-size: 20px;
    }

    .total-objects {
        gap: 15px;
    }

    .total-objects .card {
        padding: 14px;
    }

    .total-objects .card .upper-card .text-box h4 {
        font-size: 12.5px;
    }

    .total-objects .card .upper-card .text-box h2 {
        font-size: 23px;
    }

    .total-objects .card .upper-card img {
        width: 55px;
    }

    .total-objects .card .down-card {
        margin-top: 5px;
        font-size: 14px;
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    @media(max-width:1220px) {
        .total-objects .card .upper-card .text-box h4 {
            font-size: 12.5px;
        }

        .total-objects .card .upper-card .text-box h2 {
            font-size: 22.5px;
        }

        .total-objects .card .upper-card img {
            width: 50px;
        }
    }

    .select-button {
        padding: 6px 15px 6px 10px;
        font-size: 12px;
    }

    .select-arrow {
        font-size: 8px;
        right: 36px
    }

    .deals-container .select-arrow {
        right: 12px
    }

    .deals-table th,
    .deals-table td {
        font-size: 12px;
    }

    .status {
        padding: 5px 10px;
        font-size: 10px;
    }

    .chart-container {
        padding: 20px 0;
    }

    .deals-container {
        padding: 20px;
    }
}

@media(max-width:1024px) {

    .deals-table th,
    .deals-table td {
        font-size: 10px;
    }

    .status {
        padding: 5px 8px;
        font-size: 8px;
    }

    .sales-header {
        margin-bottom: 20px;
    }

    .recharts-responsive-container {
        padding: 0 20px 0 12px;
    }

    @media(max-width:1000px) {

        .dashboard-section .title-box h3 {
            font-size: 23px;
        }

        .sales-header h3 {
            font-size: 18px;
        }

        .deals-header h3 {
            font-size: 18px;
        }

        .dashboard-section {
            display: grid;
            padding: 20px 25px;
        }

        .total-objects {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 15px;
        }

        .total-objects .card {
            height: 160px;
        }

        .total-objects .card .down-card {
            margin-top: 5px;
            font-size: 14px;
            align-items: center;
            flex-direction: row;
        }

        .total-objects .card .upper-card .text-box h4 {
            font-size: 14px;
        }

        .total-objects .card .upper-card .text-box h2 {
            font-size: 20px;
        }

        .total-objects .card .down-card {
            font-size: 15px;
        }

        .total-objects .card .upper-card img {
            width: 58px;
        }
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .total-objects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .total-objects .card {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .total-objects .card .upper-card img {
        width: 45px;
    }

    .total-objects .card .upper-card .text-box h4 {
        font-size: 13px;
    }

    .total-objects .card .upper-card .text-box h2 {
        font-size: 20px;
    }

    .total-objects .card .down-card {
        margin-top: 10px;
        font-size: 14px;
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    @media (max-width: 570px) {
        .total-objects {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
        }

        .total-objects .card {
            width: 100%;
            height: auto;
            padding: 10px;
        }
    }

    .deals-container {
        overflow-x: auto;
    }

}

@media (max-width: 479px) {

    .total-objects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    .total-objects .card {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .total-objects .card .upper-card img {
        width: 45px;
    }

    .total-objects .card .upper-card .text-box h4 {
        font-size: 13px;
    }

    .total-objects .card .upper-card .text-box h2 {
        font-size: 20px;
    }

    .total-objects .card .down-card {
        margin-top: 10px;
        font-size: 14px;
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .chart-container {
        font-family: 'Nunito Sans';
        display: flex;
        flex-direction: column;
        padding: 20px 5px;
        height: 440px;
        background-color: white;
        border-radius: 15px;

        overflow-x: auto;
        /* <-- добавляем */
    }

    .chart-container>* {
        width: 800px;
    }

    .recharts-responsive-container {
        width: auto !important;
    }
  
    .deals-container {
        overflow-x: auto;
    }

}