.orderlists-section {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10px, auto));
    background-color: #F2F2F2;
    padding: 30px 25px;
    height: 100%;
    font-family: 'Nunito Sans';
}

.orderlists-section .title-box h3 {
    font-family: 'Nunito Sans';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: rgba(32, 34, 36, 1);
}

.title-box h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.filter-table {
    width: auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 12px;
}

.filter-table tr {
    display: flex;
    border-radius: 12px;
    border: 1px solid rgba(213, 213, 213, 1);
}

.filter-table td {
    padding: 23px 22px;
    border-right: 1px solid #ddd;
    font-size: 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.filter-table td:last-child {
    border-right: none;
}

.filter-cell {
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter-cell select {
    border: none;
}

.reset-cell {
    text-align: right;
    width: 100%;
}

.reset-filter-button {
    display: flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    color: #e91e63;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
}

.reset-filter-button img {
    margin-right: 5px;
}

.filter-icon {
    width: 20px;
    height: 20px;
}

.icon-dropdown {
    width: 24px;
    height: 24px;
}

.icon-reset {
    width: 14px;
    height: 16px;
}

.filter-label {
    font-weight: 500;
    color: rgba(32, 34, 36, 1);
}

.box-table {
    border: 1px solid #e0e0e0;
    border-radius: 15px;
}

.orders-table {
  
}

.orders-table .thead tr {
    display: flex;
    justify-content: flex-start;
}

.orders-table {
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    background-color: #fff;
    border-collapse: collapse;
}

.orders-table__header {
    text-align: left;
    padding: 12px 30px;
    font-weight: 750;
    color: rgba(32, 34, 36, 1);
}

.orders-table__row {
    border-top: 1px solid #e0e0e0;
    font-weight: 500;
    color: rgba(32, 34, 36, 1);
}

.orders-table__cell {
    flex: 0.16;
    padding: 25px 30px;
}

.orders-table__empty {
    text-align: center;
    padding: 20px;
    color: #777;
    font-style: italic;
}

.status-cell {
    width: 100px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}

.status-completed {
    background-color: #C2F3EA;
    color: #00897B;
    font-weight: 600;
    border-radius: 6px;
    padding: 5px 10px;
    display: inline-block;
}

.status-processing {
    background-color: #E6D8FF;
    color: #7B1FA2;
    font-weight: 600;
    border-radius: 6px;
    padding: 5px 10px;
    display: inline-block;
}

.status-rejected {
    background-color: #FDDCDC;
    color: #E53935;
    font-weight: 600;
    border-radius: 6px;
    padding: 5px 10px;
    display: inline-block;
}

.status-onhold {
    background-color: #FFE4C4;
    color: #FF9800;
    font-weight: 600;
    border-radius: 6px;
    padding: 5px 10px;
    display: inline-block;
}

.status-intransit {
    background-color: #F3D8FF;
    color: #8E24AA;
    font-weight: 600;
    border-radius: 6px;
    padding: 5px 10px;
    display: inline-block;
}