.product-card {
    width: 25vw;
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.03);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease;
}

body.dark .product-card {
    background-color: rgba(39, 49, 66, 1);
}

/* Верхняя часть с картинкой */
.product-top {
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* растягиваем как в Figma */
    border-radius: 15px 15px 0 0;
}

/* Кнопка избранного поверх картинки */
.fav-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
}

body.dark .fav-btn {
    background: rgba(255, 255, 255, 0.05);
}

.fav-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

/* Нижняя часть (контент) */
.product-info {
    padding: 15px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-title {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 4px;
}

body.dark .product-title {
    color: white;
}

.product-price {
    font-size: 15px;
    color: #2980f0;
    font-weight: 600;
    margin-bottom: 8px;
}

body.dark .product-price {
    color: rgba(96, 145, 255, 1);
}

.product-rating {
    font-size: 14px;
    color: #ffb400;
    margin-bottom: 16px;
}

.review-count {
    color: #555;
    margin-left: 6px;
    font-size: 13px;
}

body.dark .review-count {
    color: #D4D6D9;
}

.edit-button {
    font-family: 'Nunito Sans';
    background-color: rgba(226, 234, 248, 1);
    color: rgba(32, 34, 36, 1);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s ease;
}

body.dark .edit-button {
    background-color: rgba(75, 86, 104, 1);
    color: rgb(230, 230, 230);
}

.edit-button:hover {
    background-color: #e0e3e8;
}