.productstock-section {
    background-color: #F2F2F2;
    padding: 30px 25px;
    height: 100%;
    font-family: 'Nunito Sans';
}

.productstock-section .title-box h3 {
    font-family: 'Nunito Sans';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: rgba(32, 34, 36, 1);
}