.products-section {
    display: grid;
    background-color: #F2F2F2;
    padding: 30px 25px;
    height: 100%;
    font-family: 'Nunito Sans';
}

body.dark .products-section {
    background-color: rgba(27, 36, 49, 1);
}

.products-section .title-box h3 {
    font-family: 'Nunito Sans';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: rgba(32, 34, 36, 1);
}

body.dark .products-section .title-box h3 {
    color: white;
}

.outside-events-container{
    width: 100%;
}

.events-container {
    width: 100%;
}

.events-container .splide__slide {
    display: flex;
    align-items: center;
    background-color: #3986FB;
    border-radius: 16px;
    padding: 20px 40px;
    height: 350px;
    color: white;
    text-align: left;
}

.slide-content {
    margin-left: 90px;
}

.date-text {
    font-size: 16px;
    font-weight: 600;
}

.slide-content h2 {
    font-size: 37px;
    font-weight: 850;
    margin: 15px 0;
    line-height: 1.3;
    width: 61%;
}

.subtitle {
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 24px;
}

.cta-button {
    background-color: #ff9333;
    border: none;
    color: white;
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.cta-button:hover {
    background-color: #ff7a00;
}

.splide__arrow {
    background: rgba(244, 244, 244, 1);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    transition: 0.3s ease;
}

.splide__arrow:hover {
    background: rgba(255, 255, 255, 0.35);
}

.splide__arrow svg {
    fill: rgba(54, 54, 54, 1);
    width: 14px;
    height: 14px;
}

.splide__arrow--prev {
    margin-left: 10px;
}

.splide__arrow--next {
    margin-right: 10px;
}

.outside-container-product-carousel-wrapper {
    display: flex;
}

.product-carousel-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 25px;
}

.product-carousel-wrapper .splide__slide {
    width: calc(none) !important;
}

.products-section .product-card {
    width: 100%;
    height: auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.03);
    transition: 0.2s ease;
}

body.dark .product-card {
    background-color: rgba(39, 49, 66, 1);
}

.product-image img {
    width: 100%;
    object-fit: contain;
    border-radius: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 10px;
}

.product-down {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-bottom: 2cap;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.fav-btn {
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(241, 241, 241);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

body.dark .fav-btn {
    background: rgba(255, 255, 255, 0.05);
}

.fav-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

/* Анимация пульса при нажатии */
.fav-btn:active {
    transform: scale(0.9);
}

.product-title {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 4px;
}

body.dark .product-title {
    color: white;
}

.product-price {
    font-size: 15px;
    color: #2980f0;
    font-weight: 600;
    margin-bottom: 8px;
}

body.dark .product-price {
    color: rgba(96, 145, 255, 1);
}

.product-rating {
    font-size: 14px;
    color: #ffb400;
    margin-bottom: 16px;
}

.review-count {
    color: #555;
    margin-left: 6px;
    font-size: 13px;
}

body.dark .review-count {
    color: #D4D6D9;
}

.edit-button {
    font-family: 'Nunito Sans';
    background-color: rgba(226, 234, 248, 1);
    color: rgba(32, 34, 36, 1);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s ease;
}

body.dark .edit-button {
    background-color: rgba(75, 86, 104, 1);
    color: rgb(230, 230, 230);
}

.edit-button:hover {
    background-color: #e0e3e8;
}

.product-carousel-wrapper .splide__arrow {
    background: rgba(226, 234, 248, 1);
    border-radius: 999px;
    width: 45px;
    height: 45px;
    backdrop-filter: blur(6px);
    transition: 0.3s;
}

body.dark .splide__arrow {
    background-color: rgba(59, 70, 90, 1);
    opacity: 1;
}

.product-carousel-wrapper .splide__arrows {
    position: relative;
    top: 160px;
}

.product-carousel-wrapper .splide__arrow:disabled {
    opacity: 0.5;
}

.product-carousel-wrapper .splide__arrow:hover {
    opacity: 0.8;
}

.splide__arrow svg {
    fill: rgb(0, 0, 0);
    width: 12px;
    height: 12px;
}

body.dark .splide__arrow svg {
    fill: rgba(255, 255, 255, 0.9);
}

.products-section .product-carousel-wrapper .splide__arrow--prev {
    margin: 0;
}

.products-section .product-carousel-wrapper .splide__arrow--next {
    margin-right: 5px;
}